.ipynb_checkpoints
__pycache__/
.pyc
*.pyc
.json
.vscode/
locscale/emmernet/emmernet_models/
tests/test_data
locscale.egg-info/
build/

locscale/include/symmetry_emda/fcodes_fast.cpython-38-x86_64-linux-gnu.so
